body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.play{
	width:200px;
	height:160px;
	background-image: url('/images/buttons-unselected.png');
	background-size: 650px;
	background-repeat: no-repeat;
}
.pause{
	width:200px;
	height:160px;
	background-image: url('/images/buttons-unselected.png');
	background-size: 650px;
	background-repeat: no-repeat;
	background-position-x: -225px;
}
.active{
	background-image: url('/images/buttons-selected.png');
}
/*.play.active{
	width:200px;
	height:160px;
	background-image: url('/images/buttons-selected.png');
	background-size: 650px;
	background-repeat: no-repeat;
}*/
/*
.pause.active{
	width:200px;
	height:160px;
	
	background-size: 650px;
	background-repeat: no-repeat;
	background-position-x: -225px;
}*/


.fastforward{
	width:200px;
	height:160px;
	background-image: url('/images/buttons-unselected.png');
	background-size: 650px;
	background-repeat: no-repeat;
	background-position-x: -225px;
    background-position-y: -174px;
}